.login-card {
    background-color: rgb(255, 255, 255);
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.containerCardloginCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /*ทำให้คอนเทนเนอร์อยู่ตรงกลางหน้าจอแนวตั้ง */
}
.bodylogin{
    background-image: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; /* เอา margin ของ body ออกเพื่อให้พื้นหลังเต็มหน้าจอ */
    padding: 0; /* เอา padding ของ body ออกเพื่อให้พื้นหลังเต็มหน้าจอ */
    
}